transformers
google-generativeai
langchain
langchain-google-genai
langchain_community
PyPDF2
vaderSentiment
python-dotenv
faiss-cpu
torch
nltk==3.8.1
sentence_transformers
streamlit_chat 
python-dotenv
altair
accelerate
tiktoken
SpeechRecognition
pyttsx3
espeak
